---
title: 标签目录
---
{# 这是用于生成 tag_index.md 的jinja2模板。请忽略下一条注释。 -#}
<!-- 
    此文件由程序自动生成
    由以下两个文件控制： 
    - tools/build_blog_index.py
    - content/templates/tag_index.md.jinja
    
    请勿直接修改此文件。
-->

<style>
div#tag_index_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 26em;
}

div#tag_index_div p {
    margin-top: 0;
}
</style>

# 标签目录

<div markdown="1" id="tag_index_div">
{% for tag_slug, (tag_name, data_list) in tag_index.items() -%}
{% set last_update = data_list[0].date %}

[:material-tag-outline: {{ tag_name }}](tags/{{ tag_slug }}.md)  
<span style="color: var(--md-default-fg-color--light);">
&emsp;:material-note-text-outline: {{ data_list | length }}
&ensp;:material-clock-time-five-outline: {{ last_update.year }}-{{ last_update.month }}
</span>

{%- endfor %}
</div>
