name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest

    permissions:
      id-token: write
      pages: write 
  
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: main
    
    - name: Setup Pages
      id: setuo_pages
      uses: actions/configure-pages@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r requirements.txt
    
    - name: Prebuild docs
      shell: cmd
      run: python3 -W error tools/build_blog_index.py

    - name: Build docs
      shell: cmd
      run: |
        set SITE_URL=${{ steps.setuo_pages.outputs.base_url }}
        mkdocs build --site-dir ./site
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "./site" 

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
